*{
    box-sizing: border-box;
  }
  
  body{
    /* background:#92bde7; */
    background-image: url(/img/formbck.jpg);
   
    background-repeat: repeat;
    /* background-position-x: center;
    background-position-y: center; */
    background-position:center;
    color:#1b1b1d;
    font-weight: 600;
    line-height:1.6;
    font-family: cursive;
    padding:1em;
  }
  
  .container{
    max-width:1200px;
   
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    opacity: 0.99;
   }
  .logopos{
    position: relative;
    margin-top: 0;
    margin-bottom: auto;
  }
  ul{
    list-style: none;
    padding:0;
  }
  .loginbtn, .logoutbtn{
    margin-left: 25%;
    margin-right: auto;
    border-radius: 50px;
    background-color: #d0d0e0;
  }
  .logoimg{
    margin-top: 0;
    position: relative;
    
  }
  .brand{
    color: rgb(48, 45, 49);
    text-align: center;
    font-size: 80px;
    font-family: 'Brush Script MT', cursive;
    /* border: 1px solid;
    border-radius: 50px;
    padding: 0;
    box-shadow: 0px 2px 10px 5px rgb(13, 14, 14);*/
  } 
  .brand span{
    color:rgb(45, 18, 58);
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0px 2px 10px 5px rgb(28, 29, 29);
  }
  
  .wrapper{
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.938);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#07070e;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:#d0d0e0;
  }
  .fa-home{
    color: rgba(28, 34, 28, 0.938);
    font-size: 35px;
    margin-top: 0px;
  }

  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      max-width: 360px;
      min-width: 100px;
      background-color: rgb(235, 230, 230);
      padding: 5px 5px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid rgb(250, 248, 248);
      border-radius: 15px;
  }
  
  .radio-toolbar label:hover {
    background-color: #4c4;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px solid rgb(36, 34, 34);
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgb(75, 188, 233);
      border-color: rgb(33, 91, 216);
  }

  
  .radio-toolbar2 {
    margin: 10px;
  }
  
  .radio-toolbar2 input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar2 label {
      display: inline-block;
      max-width: 360px;
      min-width: 100px;
      background-color: rgb(235, 230, 230);
      padding: 5px 5px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid rgb(250, 248, 248);
      border-radius: 15px;
  }
  
  .radio-toolbar2 label:hover {
    background-color: #4c4;
  }
  
  .radio-toolbar2 input[type="radio"]:focus + label {
      border: 2px solid rgb(36, 34, 34);
  }
  
  .radio-toolbar2 input[type="radio"]:checked + label {
      background-color: rgb(75, 188, 233);
      border-color: rgb(33, 91, 216);
  }
  
  
  /* FORM STYLES */
  .contact form .form1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form {
    grid-column: 1 / 3;
  }
  
  .contact form textarea, .contact form select{
    width:100%;
    padding:1em;
    border:1px solid #f1f6fa;
  }

  .emailip{
    width:100%;
    padding:1em;
    border:1px solid #cacdd1;
  }
  
  .contact form button{
    background:#07070e;
    width: 40%;
    border:0;
    margin-left: 30%;
    text-transform: uppercase;
  }
  /* .btn{
    background:#088cc9;
    border:0;
   width: 60%;
  } */
 
  .contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
  
  
  /* LARGE SCREENS */
  @media(min-width:900px){
    .wrapper{
      display: grid;
      grid-template-columns: 0.75fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: center;
    }
  }

    img{width: 100%; max-width: 300px; min-width: 80px;}
    
    img{
      border-radius: 15px;
    }
    .bodytype{
     min-height: 100px;
     max-height: 300px;
    }
    /* img{height:100%; max-height: 600px; min-height: 100px;} */
